body {
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    background-color: #121212; // Color de fondo oscuro
    color: #ffffff; // Color de texto claro para modo oscuro
  }
  
  // Ejemplo de otros estilos globales
a {
    color: #90caf9; // Color de enlace para modo oscuro
}



  